//noinspection SassScssResolvedByNameOnly
#sequra-page #sq-page-wrapper {
  min-height: 100vh;
  padding: 30px 20px 60px 30px;
  background: $sq-color--grey-10;

  .sq-page-content-wrapper {
    position: relative;
    width: 100%;

    .sq-version-header {
      position: relative;
      height: 25px;
      margin-bottom: 40px;
    }

    .sq-content-row {
      display: flex;
      column-gap: 32px;

      &.sqs--no-version {
        margin-top: 126px;
      }

      @include sq-screen--narrow-medium {
        flex-direction: column;
        row-gap: 32px;
      }
    }

    .sq-content {
      width: 100%;
      padding: 0;
      position: relative;
      max-width: 100%;
      background: $sq-color--white;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
      border-radius: 6px;

      .sqp-content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;

        @include sq-screen--narrow {
          flex-direction: column;
          align-items: flex-start;
          row-gap: 16px;
        }

        .sq-logo {
          height: 40px;
        }

        .sq-store-switcher {
          .sq-field-wrapper {
            margin-bottom: 0;
          }
        }
      }
    }

    &.sqv--onboarding {
      border-radius: 6px;
      background: $sq-color--white;
      box-shadow: $sq-box-shadow;
      padding: 24px;

      .sq-content {
        max-width: 660px;
        box-shadow: none;
      }
    }

    &.sqv--payments {
      .sq-content-inner {
        padding: 44px 36px 36px;

        .sq-table-heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 36px;

          @include sq-screen--narrow-medium {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 8px;
          }

          .sqp-page-heading {
            max-width: 800px;
            width: 100%;
          }

          .sqm--table-dropdown {
            max-width: 344px;

            .sqp-field-title {
              color: $sq-color--primary;
            }

            .sqp-field-subtitle {
              color: #b1aeba;
            }
          }
        }
      }
    }

    &.sqv--settings {
      .sq-content-inner {
        max-width: 835px;
        width: 100%;
        padding: 32px 48px 52px 48px;
      }
    }

    &.sqv--advanced {
      .sq-content-inner {
        padding: 44px 36px 36px;
        .sq-table-heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: 36px;
          .sqp-page-heading {
            max-width: 800px;
            width: 100%;
          }
        }
      }
    }
  }

  @include sq-screen--narrow {
    padding: 0;
  }
}
// Overwrites for specific platforms
// WordPres.
.wp-admin #sequra-page #sq-page-wrapper {
  background: transparent;
}
