//noinspection SassScssResolvedByNameOnly
@mixin sqp-page-heading {
  margin-bottom: 21px;

  .sqp-page-title {
    @include font-weight--semi-bold;
    margin-bottom: 12px;
    font-size: $sq-font-size--page-title;
    color: $sq-color--black;
  }

  .sqp-page-description {
    font-size: $sq-font-size--page-description;
    color: $sq-color--black;
  }
}

//noinspection SassScssResolvedByNameOnly
@mixin sq-heading-wrapper {
  display: flex;

  .sqm-button {
    margin-left: auto;
    width: auto;

    &.sqm--deployment {
      width: 100%;

      .sqm-button{
        display: flex;
        margin-left: auto;
      }
    }
  }
}