@function get-config-fonts() {
  $base-font-family: "Inter", sans-serif;

  @return (
      base: (
          font-family: $base-font-family,
          size: 18px,
          line-height: 1.5,
          font-optical-sizing: auto,
          regular-weight: 400,
          semi-bold-weight: 600,
          bold-weight: 700,
      )
  );
}

//noinspection SassScssResolvedByNameOnly
@mixin config-font-faces() {
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}