#sequra-page .sq-support-link {
  display: flex;
  color: #686565;
  position: absolute;
  top: calc(100% + 32px);
  left: 0;
  transition: color 0.2s;
  &:hover {
    color: #000;
  }
  &::before {
    @include sq-font-icon(contact-support, 20px);
  }
}
