$sq-color--white: #fff;
$sq-color--black: #000;
$sq-color--sequra-black: #00112c;
$sq-color--black-focus: #1c1c1c;

$sq-color--primary: #00C2A3;

$sq-color-green--dark: #119C6E;
$sq-color-green--light: #6FCF97;

$sq-color--danger: #EB5757;

$sq-color--blue-40: #0066ff;
$sq-color--blue-400: #0075ff;
$sq-color--blue-focused: #599bff;
$sq-color--blue-outline: #cce0ff;

$sq-color--grey-05: #f4f4f4;
$sq-color--grey-10: #f3f6f9;
$sq-color--grey-20: #dce0e5;
$sq-color--grey-30: #a5afbd;
$sq-color--grey-40: #8390a3;
$sq-color--grey-45: #656566;
$sq-color--grey-50: #69778c;
$sq-color--grey-60: #394962;
$sq-color--grey-70: #20304c;
$sq-color--grey-loader: #c4c4c4;
$sq-color--grey-select-bottom-border: #e3e6eb;

$sq-color--orange-20: #FFEACC;
$sq-color--orange-60: #7F4A00;

$sq-color--point-failed: #ff3d00;
$sq-color--point-in-progress: #00a3ff;
$sq-color--point-queued: #b5b5b5;
$sq-color--point-processed: #0a7001;
$sq-color--point-skipped: #ff9900;

$sq-color--background-popup: rgba(0, 17, 44, 0.4);
$sq-color--background-version: rgba(10, 191, 83, 0.12);

$sq-color--red: #eb5757;
$sq-color--red-20: #facccc;
$sq-color--red-30: #ee5959;
$sq-color--red-40: #e50000;
$sq-color--red-60: #720000;
$sq-color--danger: #c00e0e;
$sq-color--error-text: $sq-color--red-60;
$sq-color--error-icon: #dadada;
$sq-color--sign-up-box: #e1f7ea;
$sq-color--background-mode: #e6f8ed;
$sq-color--background-warning: #ffeacc;
$sq-color--background-check-icon: #60d58f;
$sq-color--mode-text: #07863a;
$sq-color--green-10: #E6F8ED;
$sq-color--green-20: #cef2dd;
$sq-color--green-40: #0ABF53;
$sq-color--green-50: #08A648;
$sq-color--green-60: #055f29;
$sq-color--payment-type: #62728c;
$sq-color--background-error-box: $sq-color--red-20;

// box shadows
$sq-box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
