//noinspection SassScssResolvedByNameOnly
#sequra-page {
  color: $sq-color--black;
  > * {
    //noinspection CssNoGenericFontName
    font-family: get-font-family(base);
    font-size: $sq-font-size--main;
    line-height: 1.4;
  }
}
