//noinspection SassScssResolvedByNameOnly
@mixin sq-page-header {
  margin-bottom: 16px;

  .sqp-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    margin-bottom: 15px;
    padding: 12px 19px 13px 24px;
    background: $sq-color--white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;

      .sqp-menu-items {
        width: 100%;
      }
    }
  }

  .sqp-header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sq-screen--narrow {
      padding: 0 15px;
    }

    @include sq-screen--extra-small {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 8px;
    }

    .sq-store-switcher {
      .sq-field-wrapper {
        margin: 0;
      }
    }

    .sqp-header-merchant {
      display: flex;
      align-items: center;
      column-gap: 16px;

      .sqp-merchant {
        display: flex;
        column-gap: 4px;
        font-size: 14px;
        color: #394962;

        .sqp-merchant-label {
          @include font-weight--bold;
          color: $sq-color--grey-60;
        }
      }
    }
  }

  .sqp-page-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
  }

  .sqp-header-logo {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .sq-logo {
      height: 28px;
    }
  }

  .sqp-download-version {
    @include font-weight--regular;
    display: flex;
    column-gap: 4px;
    padding: 3px 8px;
    font-size: $sq-font-size--small;

    color: #ea9d56;

    border-radius: 15px;
    border: 1px solid #b65700;

    transition: all 0.2s;

    &:hover,
    &:focus {
      color: $sq-color--white;
      background: #ea9d56;
    }
  }

  .sqp-menu-items {
    display: flex;
    align-items: center;
    column-gap: 1px;
    padding: 0;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f4f4f4;

    a {
      display: flex;
      justify-content: center;
      flex: 1;
      color: $sq-color--grey-45;
      font-size: $sq-font-size--input-text;
      padding: 8px;
      transition: all 0.2s;
      width: 150px;

      &:hover,
      &:focus {
        color: #ffffff;
        background: #1c1c1c;
        text-decoration: none;
      }

      &.sqs--active {
        color: #ffffff;
        background: #1c1c1c;
        pointer-events: none;
      }
    }
  }

  .sq-mode-badge {
    padding: 4px 10px;
    border-radius: 6px;
    text-transform: capitalize;
    font-size: $sq-font-size--small;

    &.sqt--live {
      color: #0abf53;
      background: rgba(10, 191, 83, 0.12);
    }

    &.sqt--test {
      color: #b65700;
      background: rgba(#ea9d56, 0.12);
    }
  }
}
