#sequra-page .sqv--connect {
  .sq-info-button {
    color: $sq-color--primary;
  }
}

#sequra-page .sq-link-button {
  color: $sq-color--primary;
  text-decoration: underline;

  &:hover {
    color: #00C2A3;
  }
}