@import "library/utils/reset";

@import "global";

@import "library/config/layout";
@import "library/elements/index";

@import "../components/page-header/page-header";
@import "../components/multi-item-selector/multi-item-selector";
@import "../components/dropdown/dropdown";
@import "../components/repeater-fields/repeater-fields";

@include config-font-faces();

@include sq-config-icon-font-faces();

#sequra-page .sq-button {
  @include sq-button;
}

#sequra-page .sq-store-switcher {
  @include sq-store-switcher;
}

#sequra-page .sq-page-header {
  @include sq-page-header;
}

#sequra-page .sqp-page-heading {
  @include sqp-page-heading;
}

#sequra-page .sq-single-select-dropdown {
  @include sq-dropdown;
}

#sequra-page .sq-multi-item-selector {
  @include sq-multi-item-select;
}

#sequra-page .sq-text-input {
  @include sq-input-field;
}

#sequra-page .sq-text-area {
  @include input-text-area;
}

#sequra-page .sq-password {
  @include input-password;
}

#sequra-page .sq-radio-input {
  @include sq-radio-field;
}

#sequra-page .sq-radio-input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

#sequra-page .sq-loader {
  @include sq-loader;
}

#sequra-page .sq-toggle {
  @include sq-toggle;
}

#sequra-page .sq-checkbox {
  @include sq-checkbox;
}

#sequra-page .sq-field-wrapper {
  @include sq-field-wrapper;
}

#sequra-page .sq-country-field-wrapper {
  @include sq-country-field;
}

#sequra-page .sq-data-frame {
  @include sq-data-frame;
}

#sequra-page .sq-heading-wrapper {
  @include sq-heading-wrapper;
}

#sequra-page .sq-table {
  @include sq-table;
}

#sequra-page .sq-alert {
  @include sq-alert;
}

#sequra-page .sq-page-footer {
  @include sq-page-footer;
}

#sequra-page .sqs--hidden {
  // the only place to have !important. This is so we don't need to repeat this class in each component that could have
  // the hidden state.
  display: none !important;
}

#sequra-page .sq-version-badge {
  @include sq-version-badge;
}

#sequra-page .sq-page-loader {
  position: fixed;
  z-index: 500;
  background-color: $sq-color--background-popup;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#sequra-page .sq-wizard-sidebar {
  @include sq-wizard-sidebar;
}

#sequra-page .sq-settings-sidebar {
  @include sq-settings-sidebar;
}

#sequra-page * + .sqp-flash-message-wrapper, 
#sequra-page .sqp-flash-message-wrapper + * {
  margin-top: 20px;
}