@import "library/utils/reset";

@import "global";

@import "library/config/layout";
@import "library/elements/index";

@include config-font-faces();

@include sq-config-icon-font-faces();

.sq-button {
  @include sq-button;
}

.sq-store-switcher {
  @include sq-store-switcher;
}

.sq-page-header {
  @include sq-page-header;
}

.sqp-page-heading {
  @include sqp-page-heading;
}

.sq-single-select-dropdown {
  @include sq-dropdown;
}

.sq-multi-item-selector {
  @include sq-multi-item-select;
}

.sq-text-input {
  @include sq-input-field;
}

.sq-password {
  @include input-password;
}

.sq-radio-input {
  @include sq-radio-field;
}

.sq-radio-input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sq-loader {
  @include sq-loader;
}

.sq-toggle {
  @include sq-toggle;
}

.sq-checkbox {
  @include sq-checkbox;
}

.sq-field-wrapper {
  @include sq-field-wrapper;
}

.sq-country-field-wrapper {
  @include sq-country-field;
}

.sq-toaster {
  @include sq-toaster;
}

.sq-alert {
  @include sq-alert;
}

.sq-page-footer {
  @include sq-page-footer;
}

.sqs--hidden {
  // the only place to have !important. This is so we don't need to repeat this class in each component that could have
  // the hidden state.
  display: none !important;
}

.sq-version-badge {
  @include sq-version-badge;
}

.sq-page-loader {
  position: fixed;
  z-index: 500;
  background-color: $sq-color--background-popup;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sq-wizard-sidebar {
  @include sq-wizard-sidebar;
}

.sq-settings-sidebar {
  @include sq-settings-sidebar;
}

* + .sqp-flash-message-wrapper, .sqp-flash-message-wrapper + * {
  margin-top: 20px;
}