name: Build and Commit Dist

on:
  push:
    branches:
      - '**'

jobs:
  build-and-commit-dist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      
      - name: Cache NPM dependencies
        uses: actions/cache@v4
        id: cache-npm
        with:
          path: |
            node_modules
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-npm.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build dist
        run: npm run dist

      - name: Commit dist changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if [[ -n $(git status --porcelain dist) ]]; then
            git add dist
            git commit -m "chore: Update dist"
            git push
          else
            echo "No changes in dist to commit."
          fi
